/* Acá van tus reglas de estilo */


body{
    text-align: center;
    max-width: 1500px;
    box-sizing: border-box;
}
header {
    width: 1500px;
    height: 210px;
    margin-right: 1000px;
}

.hide {
display: none;

}

.img1{
    width: 450px;
    margin-left: 267px;
 }
.contraseña{
    width: 30%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 18px;
    align-self: center;
    background-color: rgb(6, 50, 133);
}

.rocoto{
    align-self: flex-start;
    float: left;
    width: 330px;
    height: 280px;
}
.pollo{
    align-self: flex-start;
    float: right;
    width: 350px;
    height: 240px;
}
.go1{
    font-size: 20px;
    align-self: center;
}
.screen1{
    width: 80%;
    color: blueviolet;
    font-family: Arial, helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 100px;
}

footer{
    text-align: center;
}

