/* Acá van tus reglas de estilo */

body{
    text-align: center;
    max-width: 2000px;
    box-sizing: border-box;
    background-image: url("fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.titulo{

    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px;
    height: 200px;
}
main{
    flex: 1;
}
.ingreso{

    font-family: Arial black, helvetica, sans-serif;
}

p{
    font-family: Arial black, helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 16px;
}

.codigo{
    border-radius: 5px;
    width: 190px;
    height: 25px;
    background-color: rgb(214, 240, 69);
    font-family: Georgia, 'Times New Roman', Times, serif
}
.contraseña{
    border-radius: 5px;
    width: 190px;
    height: 25px;
    background-color: rgb(214, 240, 69);
    font-family: Georgia, 'Times New Roman', Times, serif
    }
.error{
    color: brown;
}
.rocoto{
    width: 300px;
    height: 250px;
    padding: .5em;
}
.pollo{
    
    width: 300px;
    height: 190px;
}
.causa{
    width: 300px;
    height: 190px;
}
.huancahina{
    width: 300px;
    height: 190px;
}
textarea{
    width: 280px;
    height: 120px;
    background-color: rgb(214, 240, 69);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}
.screen2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen3{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    font-family: "Times New Roman", Times, serif;
    color: rgb(14, 6, 12);
    font-weight: bold;
}


.hide {
    display: none;
}  

