/* Acá van tus reglas de estilo */
header{
    
    text-align: center;


}
.salad {
    width: 8px;
    height: 1px;
    align-self: center;
}

.contraseña{

    font-size: 20px;
    align-self: center;
}

.go1{
    font-size: 20px;
    align-self: center;

}